@import "tailwindcss";

.cl-avatarBox {
  width: 2.5rem;
  height: 2.5rem;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content; /* Critical: keeps items in one long line */
  animation: scroll 20s linear infinite;
}

.marquee-container:hover .animate-marquee {
  animation-play-state: paused;
}
